<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="dbcon" connectionString="Data Source=.\sqlexpress;Initial Catalog=SteerMARDb;Integrated Security=True" />
    <!--<add name="local" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\C# App\C# Windows Form Application\SteerMAR\SteerMAR\SteerMARDb.mdf;Integrated Security=True" />-->
    <!--<add name="ServerCon" connectionString="Data Source=.\sqlexpress;Initial Catalog=AmnimetDB;Integrated Security=True" />-->
    <add name="Server" connectionString="Data Source=103.142.175.54;Initial Catalog=SteerMAR542233; User ID=Amnimet;Password=AmnimetVps@2761994;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>