<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteerMAR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <!--<add name="dbcon" connectionString="Data Source=.\sqlexpress;Initial Catalog=SteerMARDb;Integrated Security=True" />-->    
    <add name="dbcon" connectionString="Data Source=3.136.198.247;Initial Catalog=SteerMARDb;Persist Security Info=True;User ID=sa;Password=SteerposDB@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <SteerMAR.Properties.Settings>
      <setting name="LoggedUser" serializeAs="String">
        <value>0</value>
      </setting>
    </SteerMAR.Properties.Settings>
  </userSettings>
</configuration>